/* Reset and Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    /* Updated to use Google Font */
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    text-align: left;
    /* Changed from 'absolute' to 'left' */
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: #007bff;
    text-align: justify;
    white-space: inherit;
}

.logo img {
    height: 50px;
}

nav {
    position: relative;
    /* To allow absolute positioning for responsive menu */
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
}

nav ul li {
    margin-left: 1rem;
    color: #fff;
}

nav ul li a {
    color: #fff;
    /* Changed for better contrast against blue */
    text-decoration: none;
}

/* Main Content */
main {
    max-width: 1200px;
    margin: auto;
    /* Centering main content */
    padding: 2rem;
}

/* Footer */
footer {
    background-color: #007bff;
    padding: 1rem;
    margin-top: 2rem;
    text-align: center;
}

footer nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

footer nav ul li {
    margin: 0.5rem 1rem;
}

footer nav ul li a {
    color: #fff;
    text-decoration: none;
}

footer nav ul li a:hover {
    text-decoration: underline;
}