@media (min-width: 768px) {
  header button {
    display: none;
  }

  nav,
  nav.open {
    display: block;
    position: static;
    background-color: transparent;
  }

  nav .menuLinks {
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
  }

  .hero,
  .split {
    grid-template-columns: 1fr 1fr;
  }

  .pricing-grid {
    grid-template-columns: 1fr 1.2fr;
    align-items: start;
  }
}
